<div class="contact-container">
    <div class="header">
        <h2><i class="fas fa-id-card"></i>Contact</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="row formHeader">
                    <p>
                        Have any questions?
                    </p>
                    <p>
                        See anything you like?
                    </p>
                    <p class="formHeaderSubDetails">
                        Send me a message below!
                    </p>
                </div>
                <form id="contactForm">
                    <div class="row" id="nameRow">
                        <div class="inputHeader">
                            <label for="formName"><i class="fas fa-signature"></i>Name</label>
                        </div>
                        <input type="text" name="name" id="formName" autocomplete="off"
                            (input)="nameValidation($event)">
                        <div class="inputError">
                            <label id="nameError">Please fill out name.</label>
                        </div>
                    </div>
                    <div class="row" id="emailRow">
                        <div class="inputHeader">
                            <label for="formEmail"><i class="fas fa-at"></i>Email</label>
                        </div>
                        <input type="email" name="email" id="formEmail" autocomplete="off" (input)="emailValidation()">
                        <div class="inputError">
                            <label id="emailErrorBlank">Please fill out email.</label>
                            <label id="emailErrorWrongFormat" style="display: none; visibility: visible;">Email is not
                                in the correct format.</label>
                        </div>
                    </div>
                    <div class="row" id="messageRow">
                        <div class="inputHeader">
                            <label for="formMessage"><i class="fas fa-comment"></i>Message</label>
                        </div>
                        <textarea type="text" name="message" id="formMessage" autocomplete="off"
                            (input)="messageValidation()"></textarea>
                        <div class="inputError">
                            <label id="messageError">Please fill out message.</label>
                        </div>
                    </div>
                    <div class="row">
                        <button class="center" type="button" id="formSubmit" value="Submit"
                            (click)="submitForm($event)">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="formSubmitOverlay">
    <div id="text">
        <h2>Submitting Form</h2>
        <h3>Processing form submittion...</h3>
        <button (click)="closeOverlay()">
            <p>Close</p>
        </button>
    </div>
</div>