@import "./mixins.scss";

.page-container {
  position: relative;
  z-index: 1;
  width: 100vw;
  height: 100%;

  nav {
    top: 0;
    height: 5%;
    border-style: solid;
    border-width: 0 0 2px 0;
    border-color: $colorBorder;
    padding: 1em 0;
    font-family: monospace;
    text-align: center;
    position: sticky;
    z-index: 100;
    backdrop-filter: blur(5px);

    .container {
      padding: 0;
      max-width: 85%;

      .row {
        width: 100%;

        .navbar-nav {
          margin: 0 0 0 auto;
        }

        .navbar-title {
          padding-left: 0 !important;
          padding-right: 0 !important;
        }

        .col {
          white-space: nowrap;

          h4 {
            margin: 0 auto;
            font-size: 2.5em;
            a {
              color: $themeColor;
              text-decoration: none !important;
            }
          }

          a {
            color: $themeColor;
            text-decoration: none !important;
          }

          h5 {
            margin: 0 auto;
            font-size: 2em;
            color: $themeColor;
          }
        }

        li .active,
        a:hover {
          h4,
          h5 {
            color: $colorTextSemiLight;
          }

          h5:before,
          h5:after {
            opacity: 1;
          }

          h5:before {
            transform: translateX(-5px);
          }

          h5:after {
            transform: translateX(5px);
          }
        }

        h5:before {
          content: "</";
          left: 0;
        }

        h5:after {
          content: ">";
          right: 12px;
        }

        h5:before,
        h5:after {
          position: absolute;
          opacity: 0;
          font-size: 25px;
          color: #AFAAC6;
          transition: all 0.3s;
          bottom: 10px;
        }

        .active,
        h4 {
          a:hover {
            color: $colorTextSemiLight !important;
          }
        }

        .active {
          h4,
          a {
            color: $colorTextSemiLight !important;
            animation-name: floating;
            animation-duration: 2.5s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
          }
        }

        .navbar-toggler {
          right: 0 !important;
          position: absolute;
          border: 1px solid $themeColor;
          border-radius: 0.5em;
          margin-top: 0.3em;
          margin-right: 3em;
          outline: none !important;

          .hamburger-inner,
          .hamburger-inner::before,
          .hamburger-inner::after {
            background-color: #AFAAC6;
          }
        }
      }
    }
  }

  footer {
    bottom: 0;
    height: 5%;
    border-style: solid;
    border-width: 2px 0 0 0;
    border-color: $colorBorder;
    padding: 1em;
    font-family: monospace;
    text-align: center;
    z-index: 100;
    backdrop-filter: blur(5px);

    .col {
        display: flex;
        align-items: center;
        justify-content: center;

        .text {
            p {
              color: #AFAAC6;
              margin: 0;
            }
          }
          .icons {
            .fab {
              font-size: 2.5em;
              padding: 0.5em;
              color: #AFAAC6;
            }
          }
    }
  }
}

@keyframes floating {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, -10px);
  }
  to {
    transform: translate(0, -0px);
  }
}

@supports (-moz-appearance: none) {
  .page-container {
    .navbar {
      background-color: rgba($colorThemeVeryDark, 0.6);
      .container {
        width: 100% !important;
        max-width: 100% !important;
        .row {
          .navbar-title {
            padding: 0 0 0 1em !important;
            max-width: max-content;
            .navbar-brand {
              padding: 0;
              margin-right: 0 !important;
            }
          }
          .spacer {
            display: none !important;
          }
        }
      }
    }

    footer {
      background-color: rgba($colorThemeVeryDark, 0.2);
      #easterEgg {
        position: absolute;
        bottom: 0;
      }
    }
  }
}

@supports (-webkit-hyphens: none) {
  .page-container {
    footer {
      #easterEgg {
        position: absolute;
        bottom: 0;
      }
    }
  }
}

@supports (-ms-ime-align: auto) {
  .page-container {
    .navbar {
      background-color: rgba($colorThemeVeryDark, 0.6) !important;
      backdrop-filter: unset !important;
    }
  }
}

@media all and (max-width: 1450px) {
  .page-container {
    nav {
      .container {
        max-width: 90%;
        .row {
          .col {
            h5 {
              font-size: 1.8em;
            }
            h5:before,
            h5:after {
              font-size: 22px;
            }
          }
        }
      }
    }
    #resumeButton {
      right: 45px;
      bottom: 45px;
      width: 4.5em;
      height: 4.5em;
      border-radius: 1.75em;
      #resumeIcon {
        width: 4.5em;
        height: 4.5em;
        padding: 0.4em;
      }
    }
  }
}

@media all and (max-width: 1350px) {
  .page-container {
    nav {
      .container {
        max-width: 92%;
        .row {
          .col {
            h5 {
              font-size: 1.7em;
            }
            h5:before,
            h5:after {
              font-size: 20px;
            }
          }
        }
      }
    }
    #resumeButton {
      right: 40px;
      bottom: 40px;
      width: 4em;
      height: 4em;
      border-radius: 1.5em;
      #resumeIcon {
        width: 4em;
        height: 4em;
        padding: 0.3em;
      }
    }
  }
}

@media all and (max-width: 1250px) {
  .page-container {
    nav {
      .container {
        max-width: 94%;
        .row {
          .col {
            h5 {
              font-size: 1.6em;
            }
            h5:before,
            h5:after {
              font-size: 18px;
            }
          }
        }
      }
    }
    #resumeButton {
      right: 35px;
      bottom: 35px;
      width: 3.5em;
      height: 3.5em;
      border-radius: 1.25em;
      #resumeIcon {
        width: 3.5em;
        height: 3.5em;
        padding: 0.3em;
      }
    }
  }
}

@media all and (max-width: 1150px) {
  .page-container {
    nav {
      .container {
        max-width: 96%;
        .row {
          .col {
            h5 {
              font-size: 1.5em;
            }
            h5:before,
            h5:after {
              font-size: 16px;
            }
          }
        }
      }
    }
    #resumeButton {
      right: 30px;
      bottom: 30px;
      width: 3em;
      height: 3em;
      border-radius: 1em;
      #resumeIcon {
        width: 3em;
        height: 3em;
        padding: 0.2em;
      }
    }
  }
}

@media all and (max-width: 1050px) {
  .page-container {
    nav {
      .container {
        max-width: 98%;
        .row {
          .spacer {
            width: 50% !important;
            max-width: 50% !important;
            margin: 0;
            padding: 0;
          }
          .col {
            h5 {
              font-size: 1.4em;
            }
            h5:before,
            h5:after {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

@media all and (max-width: 1000px) {
  .page-container {
    nav {
      .container {
        max-width: 100%;
        .row {
          .col {
            h5 {
              font-size: 1.3em;
              padding: 0 0.3em 0 0.1em;
            }
          }
          .collapse {
            .col {
              max-width: max-content;
              margin: 0 auto;
            }
          }
        }
      }
    }
  }
}
