<div class="page-container">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <div class="row">
        <div class="col navbar-title">
          <a class="navbar-brand nav-link text-left" href="#heroIntro">
            <h4>TIR Creations</h4>
          </a>
        </div>
        <div class="col spacer"></div>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="col">
              <a class="nav-link" href="#aboutSection">
                <h5>About</h5>
              </a>
            </li>
            <li class="col">
              <a class="nav-link" href="#gallerySection">
                <h5>Gallery</h5>
              </a>
            </li>
            <li class="col">
              <a class="nav-link" href="#storeSection">
                <h5>Store</h5>
              </a>
            </li>
            <li class="col">
              <a class="nav-link" href="#contactSection">
                <h5>Contact</h5>
              </a>
            </li>
          </ul>
        </div>
        <button class="hamburger hamburger--collapse navbar-toggler navbar-dark" type="button" data-toggle="collapse"
          data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
          aria-label="Toggle navigation" (click)="hamburgerClick()" id="hamburgerIcon">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
      </div>
    </div>
  </nav>

  <router-outlet></router-outlet>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="text">
            <p>Copyright © 2024 TIR Creations</p>
          </div>
        </div>
        <div class="col">
          <div class="icons">
            <a href="https://facebook.com" target="_blank" rel="noopener">
              <i class="fab fa-facebook"></i>
            </a>
            <a href="https://etsy.com" target="_blank" rel="noopener">
              <i class="fab fa-etsy"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>