$themeColor: blue;

$colorThemeDark: scale-color($themeColor, $lightness: -35%);
$colorThemeVeryDark: scale-color($themeColor, $lightness: -85%);
$colorBorder: scale-color(desaturate($themeColor, 50), $lightness: -10%);
$colorTextLight: scale-color($themeColor, $lightness: 74.4%);
$colorTextDark: scale-color($themeColor, $lightness: -80%);
$colorTextShadow: scale-color(adjust-hue($themeColor, 20deg), $lightness: 2%);
$colorScrollBar: scale-color($themeColor, $lightness: -10%);
$colorContainerBackgroundLight: scale-color(desaturate($themeColor, 85), $lightness: 44%);
$colorContainerBackground: scale-color(desaturate($themeColor, 95), $lightness: 36%);
$colorContainerBackgroundDark: scale-color(desaturate($themeColor, 65), $lightness: -3%);
$colorContainerInputBackground: scale-color(desaturate($themeColor, 76), $lightness: 38%);
$colorContainerShadowLight: scale-color(desaturate($themeColor, 80), $lightness: 36%);
$colorContainerShadowDark: scale-color(desaturate($themeColor, 70), $lightness: -15%);
$colorContainerInnerBorder: scale-color(desaturate($themeColor, 80), $lightness: 30%);
$colorContainerIconLight: scale-color(desaturate($themeColor, 45), $lightness: 22%);
$colorContainerIconDark: scale-color(desaturate($themeColor, 12), $lightness: -35%);
$colorContainerButtonVeryLight: scale-color($themeColor, $lightness: 72.5%);
$colorContainerButtonLight: scale-color(desaturate($themeColor, 55), $lightness: 30%);
$colorContainerButtonDark: scale-color(desaturate($themeColor, 60), $lightness: -20%);
$colorContainerButtonBorder: scale-color(saturate($themeColor, 20), $lightness: 15%);
$colorContainerBorderLight: scale-color(desaturate($themeColor, 70), $lightness: 30%);
$colorContainerBorderDark: scale-color(desaturate($themeColor, 55), $lightness: -10%);

@mixin componentHeader($color: black) {
    text-align: center;
    font-family: monospace;
    font-weight: 600;
    font-size: 3.5em;
    color: $color;

    .fas:hover {
        animation-name: shake;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    }
}

@mixin componentHeaderIcon($color: $colorContainerIconDark) {
    font-size: 0.7em;
    color: $color;
    margin: 0.5em;
}

@mixin articleContainer() {
    width: 60%;
    background-color: $colorContainerBackgroundLight;
    border-color: $colorContainerBorderLight $colorContainerBorderDark $colorContainerBorderDark
        $colorContainerBorderLight;
    border-width: 1px;
    border-style: solid;
    border-radius: 1em;
    padding: 2em;
    margin: 0 auto;
    box-shadow: 0.5em 0.2em 1em 0.3em $colorContainerShadowLight;
    transition: transform 2s ease;

    article:last-of-type {
        margin: 0;
    }
}

@mixin articleContent() {
    padding: 1.5em 0;
    border-width: 1px 0 1px 0;
    border-color: $colorContainerInnerBorder;
    border-style: solid;
    margin-bottom: 1em;
    transition: transform 0.4s ease;
}

@mixin articleParagraph() {
    margin: 0.5em 0;
    font-weight: 700;
}

@mixin articleSubDetails() {
    margin: 0;
    font-style: italic;
    font-weight: 600;
}

@mixin articleHover() {
    transform: scale(1.04);

    .fas {
        color: $colorContainerIconDark;
    }
}

@mixin windowOverLay() {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(black, 0.6);
    z-index: 2;

    #text {
        text-align: center;
        background-color: $colorContainerBackgroundDark;
        padding: 1em;
        border-radius: 0.5em;
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 50px;
        color: white;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);

        h2 {
            border-width: 0 0 1px 0;
            border-color: white;
            border-style: solid;
        }

        button {
            color: white;
            width: 30%;
            background-color: $colorContainerButtonDark;
            border-color: black;
            border-radius: 5px;
            position: relative;
            vertical-align: middle;
            height: 40px;
            p {
                font-size: 0.5em;
            }
        }
    }
}

@mixin bottomInfoButton($left: unset, $right: unset) {
    position: fixed;
    left: $left;
    right: $right;
    bottom: 50px;
    -webkit-transition: all 0.2s ease-in 0s;
    transition: all 0.2s ease-in 0s;
    z-index: 9999;
    cursor: pointer;
    width: 5em;
    height: 5em;
    background-color: $colorContainerButtonLight;
    border-radius: 2em;
    animation-name: wobble;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    box-shadow: 0.01em 0.01em 1em 0.01em $colorContainerShadowLight;
    opacity: 0;
    display: none;
}

@mixin bottomInfoButtonIcon() {
    background-size: cover;
    width: 5em;
    height: 5em;
    padding: 0.5em;
    transition: 0.3s;
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }
    5% {
        transform: scale(1.01) rotate(-1deg);
    }
    10% {
        transform: scale(1.02) rotate(-2deg);
    }
    15% {
        transform: scale(1.03) rotate(-1deg);
    }
    20% {
        transform: scale(1.04) rotate(0deg);
    }
    25% {
        transform: scale(1.05) rotate(1deg);
    }
    30% {
        transform: scale(1.06) rotate(2deg);
    }
    35% {
        transform: scale(1.07) rotate(1deg);
    }
    40% {
        transform: scale(1.08) rotate(0deg);
    }
    45% {
        transform: scale(1.09) rotate(-1deg);
    }
    50% {
        transform: scale(1.1) rotate(-2deg);
    }
    55% {
        transform: scale(1.09) rotate(-1deg);
    }
    60% {
        transform: scale(1.08) rotate(0deg);
    }
    65% {
        transform: scale(1.07) rotate(1deg);
    }
    70% {
        transform: scale(1.06) rotate(2deg);
    }
    75% {
        transform: scale(1.05) rotate(1deg);
    }
    80% {
        transform: scale(1.04) rotate(0deg);
    }
    85% {
        transform: scale(1.03) rotate(-1deg);
    }
    90% {
        transform: scale(1.02) rotate(-2deg);
    }
    95% {
        transform: scale(1.01) rotate(-1deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes wobble {
    0% {
        transform: translateX(0%);
    }
    5% {
        transform: translateX(0%);
    }
    10% {
        transform: translateX(0%);
    }
    15% {
        transform: translateX(-20%) rotate(-5deg);
    }
    30% {
        transform: translateX(15%) rotate(3deg);
    }
    45% {
        transform: translateX(-10%) rotate(-3deg);
    }
    60% {
        transform: translateX(5%) rotate(2deg);
    }
    75% {
        transform: translateX(-2%) rotate(-1deg);
    }
    100% {
        transform: translateX(0%);
    }
}
