<div class="hero-container">
    <div class="container">
        <div class="row">
            <div class="col hero-text">
                <h1 class="hero-title">{{ heroTitle }}</h1>
                <h2 class="hero-description">{{ heroDescription}}</h2>
            </div>
            <div class="col hero-image">
                <picture>
                    <source type="image/webp" srcset="../../assets/hero-image.webp">
                    <img src="../../assets/hero-image.png" alt="Tristen">
                </picture>
            </div>
        </div>
    </div>
</div>